.folder-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-basis: 10%;
    min-height: 91vh;
    margin-top: 13px;
    margin-inline-start: 5px;
}

.folder-list li:hover {
    cursor: pointer;
}

.folder-list i {
    margin-inline-end: 8px;
}