

.email-filter form {
    padding: 0px 20px;
    border: none;
    border-radius: 8px;
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
    background-color: #474747;
    font-size: 1.2em;
}

.email-filter form:focus {
    background-color: #FFFFFF;
}

.email-filter .input-search {
    width: 90%;
    height: 50px;
    background-color: transparent;
    border: none;
}

.email-filter .btn-search {
    background-color: transparent;
    border: none;
    margin-inline-end: 10px;
}

textarea:focus, input:focus{
    outline: none;
}

.email-filter .btn-search:focus {
    outline: none;
}

.email-filter .btn-side-bar {
    display: none;
}

/* FOR MOBILE ONLY */
@media (max-width: 760px) {
    .email-filter form {
        width: 80%;
        display: flex;
        justify-content: center;
    }
    
    .email-filter .btn-side-bar {
        display: unset;
        background-color: transparent;
        margin-inline-end: 10px;
    }

    .email-filter .btn-search {
        order: 1;
    }
}

@media (min-width: 540px) {
}

@media (min-width: 900px) {
}

@media (min-width: 1020px) {
}

@media (min-width: 1120px) {
}