.folder-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-basis: 10%;
    margin-top: 13px;
    margin-inline-start: 5px;
}

.folder-list li:hover {
    cursor: pointer;
    color: white;
}

.folder-list i {
    margin-inline-end: 8px;
}