

.email-side-bar {
}

.email-side-bar .compose {
    margin-bottom: 50px;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 24px;
    background-color: #FFFFFF;
    border-radius: 20px;
    color: #5f6368;
}