.email-list {
    background-color: #161616;
    width: 100%;
    display: flex;
    border-radius: 20px;
}

.email-list table {
    border-collapse: collapse;
}

.email-list table {
    width: 100%;
}

.email-list tr {
    height: 50px;
    margin: 10px 0px;
    justify-content: space-between;
    transition: box-shadow .3s;
    transition: color .3s;
}

.email-list tr:hover {
    cursor: pointer;
}

.email-list tr.email-preview:hover {
    box-shadow: 0px 0px 5px 4px rgb(255 255 255 / 12%);
    cursor: pointer;
    color: white;
}
