
.about-page {
    background-color: #ACD8E4;
    height: 100vh;
    text-align: center;
}

.about-page h1 {
    font-size: 3em;
    padding-top: 20px;
    margin-bottom: 30px;
}

.about-page i {
    font-size: 10em;
    margin-bottom: 30px;
}