.black-screen {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 70;
    background-color: #5f636857;
}


.edit-note-btns-container>button {
    border: none;
    background-color: transparent;
}

.edit-note-btns-container {
    width: inherit;
    display: flex;
    justify-content: space-evenly;
}

.edit-note form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 70%;
    margin-bottom: 10px;

}

.edit-note form input {
    background-color: transparent;
    border:none;
    width: 100%;
    height: 30px;
    font-size: 1.5em;
}

.edit-note form textarea {
    background-color: transparent;
    border:none;
    width: 100%;
    height: 200px;
    resize: none;
}


.edit-note {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 80;
    position: fixed;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    width: 60%;
    border-radius: 8px;
}

.edit-note.white {
    background-color: white;
}

.edit-note.plum {
    background-color: plum;
}

.edit-note.lightgreen {
    background-color: lightgreen;
}

.edit-note.lightcoral {
    background-color: lightcoral;
}

.edit-note.slateblue {
    background-color: slateblue;
}

.edit-note.lightskyblue {
    background-color: lightskyblue;
}

.edit-note.peru {
    background-color: peru;
}