.button-list button {
    border: none;
    background-color: transparent;
}

.button-list {
    width: inherit;
    display: flex;
    justify-content: space-evenly;
    opacity: 0;
    transition: 0.3s;
}




[name=pin-box] {
    display: none;
}

.pin-box-label i {
    font-size: 22px;
}

.pin-box-label {
    position: absolute;
    top: 5px;
    right: 5px;
}

.pin-box-label.pinned i {
    color: rgba(14, 13, 13, 0.986);
}

.pin-box-label.unpinned i {
    color: lightgrey;
}

.pin-box-label.unpinned i:hover {
    color: rgba(14, 13, 13, 0.986);
}

.color-btns-container {
    border-radius: 8px;
    z-index: 100;
    position: absolute;
    width: inherit;
    bottom: -43px;
    background-color: white;
    box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
}

.color-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0.5px solid lightgray
}

button.plum {

    background-color: plum;
}

button.lightgreen {
    background-color: lightgreen;
}

button.lightcoral {
    background-color: lightcoral;
}

button.slateblue {
    background-color: slateblue;
}

button.lightskyblue {
    background-color: lightskyblue;
}

button.peru {
    background-color: peru;
}