.note-filter {
    position: absolute;
    z-index: 60;
    background-color: snow;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .5em;
    top: 119px;
    box-shadow: 1px 1px 6px 1px rgb(0 0 0 / 10%);

}

.note-filter.closed {
    transform: translateX(-120%);
    transition: 0.2s;
}

.note-filter.open {
    transform: translateX(-7%);
    transition: 0.2s;
}

.toggle-filter-btn {
    font-size: 30px;
    background: transparent;
    color: #21659c;
    position: absolute;
    top: 83px;
    left: 0;
}


.note-filter button {
    font-size: 2em;
    border: none;
    background-color: transparent;
    color: #21659c;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: .5em;
    transition: 0.2s;

}

.note-filter .clicked {
    background-color: rgba(251, 255, 9, 0.4);
    border-radius: 20px;
    transition: 0.2s;
}

.note-filter button span {
    font-family: 'open-sans';

}

@media (min-width:600px) {
    .toggle-filter-btn {
        display: none;
    }

    .note-filter {
        position: relative;
        top: 0;
    }

    .note-filter.closed {
        transform: translateX(0);
    }

    .note-filter.open {
        transform: translateX(0);
    }
}