.email-index {
    background-color: #111111;
    padding: 10px 20px 10px 0;
    color: #CACACA;
    font-family: 'open-sans';
    min-height: 90vh;
}

.main-content {
    display: flex;
    gap: 10px;
}