
body {
    margin: 0;
    font-family: 'open-sans';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    border: none;
}

button:hover {
    cursor: pointer;
}

i:hover {
    cursor: pointer;
}
