.main-note-app {
    font-family: 'open-sans';
    padding: 5px 5px;
    background-color: snow;
}
.notes-and-filter {
    display: flex;
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    gap:0.5em
}